# Backend server port
PORT=5000

# MongoDB connection string
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<database

# Development mode keeps pino-pretty enabled locally
NODE_ENV=development
